<!DOCTYPE html>
<head>
  <title>Time-series Data Center</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Your Question:</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter your question" required />
    <input type="submit" value="Ask Now" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
